@media (max-width: 767px)
  div.list-view
    .list
      &-item
        padding 1em !important
        &:hover
          opacity .8
          cursor pointer
          border-color lighten(#000, 90%)
          .item-title
            color var(--color-link)
  .post
    &-view
      padding 1em !important
    &-passed
      display block
      text-align right


*,
::before,
::after 
  box-sizing border-box
  padding 0
  margin 0

html 
  width 100%

a
  text-decoration none
  color var(--color-link) !important
$max-width
  max-width: 750px
body 
  /* font */
  font-family var(--font-family) !important
  font-size var(--font-size)
  line-height 1.7
  color var(--color-text)
  background-color var(--color-background)
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
  -webkit-text-size-adjust none
  /* size */
  position relative
  margin 0 auto
  padding 0
  @extend $max-width
  min-height 100vh

.layout
  &-404
    padding 6em 0 8em
    text-align center

.header
  position: fixed
  left 0
  z-index 999
  width 100%
  height 120px
  padding 40px 0 20px
  text-align center
  background var(--color-background)
  .site-title 
    font-size calc(var(--font-size) + 2px)
    letter-spacing 5px

.navbar 
  padding 10px 10px 0
  &-item 
    padding 0 .5em

.view
  position relative
  padding 120px 1.5em 1.5em

$tags
  font-size calc(var(--font-size) - 2px)
  background var(--color-line)
  border-radius 3px
  padding .2em .6em
  margin-left .5em

.list-view
  .list
    list-style none !important
    max-width 750px
    margin 0 auto
    &-title
      padding 8em 2em
      min-height 30em
      &>span
        @extend $tags
        display inline-block
        padding 0 .5em
        margin 0.2em
        cursor pointer
        border-top 1px solid var(--color-link)
        // color var(--color-background)
        &:hover
          color var(--color-link)
          background var(--color-background)
          
    &-empty
      padding 6em 0 8em
      text-align center
    &-item
      position relative
      padding 0 3em
      margin-top 3em
      border-left 1px solid transparent
      border-right 1px solid transparent
      border-radius 10px
      border-color lighten(#000, 80%)
      &:hover
        opacity .8
        cursor pointer
        border-color var(--color-link)
        .item-title
          color var(--color-link)
  .item
    &-title
      display inline-block
      font-size calc(var(--font-size) + 2px)
      font-weight bold
      color var(--color-text)
      // padding 1em 0
      &:hover
        color var(--color-link)
    &-date
      font-size calc(var(--font-size) - 2px)
      color var(--color-line)
      border-top 1px solid var(--color-line)
      padding .5em 0
      margin-right 1em
    &-category
      font-size calc(var(--font-size) - 2px)
      background var(--color-background)
      margin-left .5em
    &-tags
      @extend $tags
    &-excerpt
      font-size calc(var(--font-size) - 2px)
      // line-height 1
      pre
        padding .5em 1em
      p, ol, dl, ul, blockquote, pre
        margin-bottom .5em

.post
  &-view
    padding 1em 2em
  &-head
    position relative
  &-title
    font-weight 400
    font-size calc(var(--font-size) * 1.5)
  &-tags
    @extend $tags
  &-passed
    @extend $tags
    color var(--color-line)
    background var(--color-background)
  &-date
    position absolute
    right 0
    top 0
    font-size calc(var(--font-size) - 2px)
    font-weight 400
    /* line-height 2 */
    color var(--color-line)
  &-main
    padding-top 1em

.footer
  padding-bottom 15px
  text-align center
  a
    display inline-block
    padding 0 1em
    margin-top 1em
